<?xml version="1.0" encoding="UTF-8"?>
 
   <name>LI Media Player</name>
 
   <description>Media player developed for the State Library of NSW Life Interrupted Exhibition</description>
 
   <author href="http://www.sl.nsw.gov.au" email="webdev@sl.nsw.gov.au">Rod Higgins</author>
   <preference name="target-device" value="universal" />
 
   <access origin="*" />
   
   <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
   <preference name="StatusBarOverlaysWebView" value="false" />
   
</widget>